@media (max-width: 1024px) {
  body{
    background-size: 20%;
  }

  .cover {
    &-slider {
      display: none;
    }   
  }

  .blockwhite-cont{
    &-cols{
      &-col{
        width: 48%;
      }
    }
  }

  .products{
    &-cols{
      justify-content: space-evenly;
      &-col{
        width: 33%
      }
    }
  }

  .progress{
    &-numbers{
      flex-wrap: wrap;
      justify-content: flex-start;
      &-item{
        width: 24%;
      }
    }
  }

  // 5
  .locations{
    width: 92%;
  }

  .shops{
     flex-wrap: wrap;
     &-item{
      width: 49%;
     }
  }
 

}

