@media (max-width: 1024px) {
  body{
    background-size: 20%;
  }

  .cover {
    &-slider {
      display: none;
    }   
  }

  .blockwhite-cont{
    &-cols{
      &-col{
        width: 48%;
      }
    }
  }
  
}
