@media (max-width : 1280px) {
// start cards
.text-name-card {
    font-size: 1.6875em; //27
  }
  
  .text-value-card {
    font-size: 1.4687em; //23.5
  }
  
  .text-text-card {
    font-size: 0.7812em; //12
  }
  // end cards
}