/* Верхнее меню */
/* под WP */
.top-header{
  width: 100%;
  min-height: 85px;
  background-color: $main-color-green;
  &-content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &-logocont {
      width: 142px;
      display: flex;
      justify-content: center;
      position: absolute;
      z-index: 1;
      top: 0;
    }
  }
}

.mobile-logo{
  display: none;
}

.menu{
  display: flex;
  list-style: none;
  &-item a{
    min-width: 170px;
    margin-top: 30px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @extend .text-basic;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
    &:hover {
      color: white;
      &::after {
        transform: translateY(2px) scale(1);
      }
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 55%;
      top: 22px;
      height: 1px;
      background: white;
      transform: translateY(2px) scale(0);
      -webkit-transition: all 0.1s;
      transition: all 0.1s;
    }
  }
}

label,
#menu {
  display: none;
}