body {
  background-color: #FFFBF6;
  background-image: url(/img/bg-fon.svg);
  background-attachment: fixed;
  background-size: 12%;
}

main {
padding-top: 70px;
padding-bottom: 70px;
}

.whiteblock{
  padding: 70px 70px 80px 70px;
  background-color: white;
  background-image: url(/img/block-white-img-1.svg),
  url(/img/block-white-img-2.svg);
  background-position: 10px 10px, 99% 100%; 
  background-repeat: no-repeat;
  background-size: 15%, 15%;
  border-radius: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

.whiteblock-products{
  padding-left: 24px;
  padding-right: 24px;
}

.whiteblock-map{
  padding: 70px 70px 80px 70px;
  background-color: white;
  background-image: url(/img/block-white-img-1.svg),
  url(/img/img-map.png),
  url(/img/beetle.svg);
  background-position: 10px 10px, 95% 85%, 90% 100%; 
  background-repeat: no-repeat;
  background-size: 15%, 30%, 2%;
  border-radius: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

.greenblock{
  padding: 70px 70px 80px 70px;
  background: linear-gradient(90deg, #669C85 0%, #97CDB6 100%);
  
  border-radius: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

/* 1-Обложка */
.cover-mobile{
  display: none;
}
.cover {
  height: 725px;
  position: relative;
  background-color: $main-color-green;
  
  &-cont{
    height: 725px;    
    &-wrap{
      width: 33.5%;
      height: 100%;
      padding-left: 28px;
      padding-right: 20px;
      position: absolute;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background-color: rgba(118, 118, 118, 0.13);
      backdrop-filter: blur(10px);
    }
  }
}

//************* Боковой лайдер обложки
.v-slider-right{
  width: 320px;
  height: 100%;
  padding-top: 44px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(118, 118, 118, 0.13);
  backdrop-filter: blur(10px);
  &-content {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-row {
      display: flex;
      width: 80%;
      & p{
        &:nth-child(1) {
          width: 50%;
        }
        &:nth-child(2) {
          width: 50%;
          text-align: right;
        }
      }
    }
  }
  &-nameproduct{
    padding-top: 20px;
    @extend .second-font;
    font-size: 1.4em; //24px
    line-height: 161%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: $main-color-green;
  }
  &-btn {
    width: 100%;
    height: 55px;
    // padding-top: 24px;
    // padding-bottom: 43px;
    display: block;
    background-color: $main-color-green;
    border: none;
  }
}
// ************* Боковой лайдер обложки END
.slider-right{
  position: absolute;
  right: 0;
  z-index: 10;
}
.slide-right-width{
  min-width: 0;
}
.slider-right-size{
  height: 325px;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.slider-right-slide-1{
  @extend .slider-right-size;
  background-image: url("/img/slider-cover-right/milk-cover-slider-right.png");
}
.slider-right-slide-2{
  @extend .slider-right-size;
  background-image: url("/img/slider-cover-right/smetana-cover-slider-right.png");
}
.slider-right-slide-3{
  @extend .slider-right-size;
  background-image: url("/img/slider-cover-right/butter-cover-slider-right.png");
}

// ************* Главный слайдер обложки
.slider-cover-wrapper{
  position: absolute;
  z-index: 1;
}
.slide-cover-width{
  min-width: 0;
}
.slider-cover-slide-size{
  height: 725px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-cover-slide-1{
  @extend .slider-cover-slide-size;
  background-image: url("/img/slider-cover/foto9.jpg");
}
.slider-cover-slide-2{
  @extend .slider-cover-slide-size;
  background-image: url("/img/slider-cover/foto8.jpg");
}
.slider-cover-slide-3{
  @extend .slider-cover-slide-size;
  background-image: url("/img/slider-cover/foto7.jpg");
}
.slider-cover-slide-4{
  @extend .slider-cover-slide-size;
  background-image: url("/img/slider-cover/foto6.jpg");
}
// ************* Главный слайдер обложки END

// ************* Главный слайдер обложки мобильной
.slider-cover-mobile-wrapper{
  position: absolute;
  z-index: 1;
}
.slide-cover-mobile-width{
  min-width: 0;
}
.slider-cover-mobile-slide-size{
  height: 514px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider-cover-mobile-slide-1{
  @extend .slider-cover-mobile-slide-size;
  background-image: url("/img/slider-cover/fotomobile4.jpg");
}
.slider-cover-mobile-slide-2{
  @extend .slider-cover-mobile-slide-size;
  background-image: url("/img/slider-cover/fotomobile3.jpg");
}
.slider-cover-mobile-slide-3{
  @extend .slider-cover-mobile-slide-size;
  background-image: url("/img/slider-cover/fotomobile2.jpg");
}
.slider-cover-mobile-slide-4{
  @extend .slider-cover-mobile-slide-size;
  background-image: url("/img/slider-cover/fotomobile1.jpg");
}
// ************* Главный слайдер обложки мобильной END

/* 1 блок */

.products{    
  display: flex;
  flex-direction: column;
    align-items: center;
  &-cols{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 2%;  
    margin-bottom: 50px;
  ////////////////////
  &-col{
    width: 23%;
    min-height: 288px;
    padding: 10px 5px 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $product-card-color;  
    border-radius: 15px;
    background-color: $product-card-color;      
    background-image: url(/img/product-card-img.svg);
    background-position: right 103%; 
    background-repeat: no-repeat;
    background-size: 35%;
    &-img1{   
      width: 100%;
      height: 100%;
      margin-bottom: 15px;
      object-fit: contain;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0px;
      left: 0;
      & img{
      }        
    }
    &-grey1{
      &-cont{
        width: 100%;
      }
    }
  }
  //////////////////////
}
&-btn{
    //height: 70px;
}
}

/* 2 блок */

.greenblock-progressimg{
  position: relative;
  &-img1{
    width: 147px;
    height: 147px;
    position: absolute;
    top: -19px;
    background-image: url(/img/2block-img1.svg);
    background-position: 0% 0%; 
    background-repeat: no-repeat;
    background-size: 100%;
  }
  &-img2{
    width: 230px;
    height: 165px;
    position: absolute;
    bottom: 0;
    right: 45px;
    background-image: url(/img/2block-img2.svg);
    background-position: 100% 100%; 
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.progress{
  &-numbers{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    &-item{
      width: 25%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      
      &-bg{
        width: 160px;
        height: 89px;
        margin-bottom: 20px;
        position: relative;
        background: rgba(255, 255, 255, 0.07);
        border-radius: 15.2427px;
        &-img{
          width: 160px;
          height: 89px;
          position: absolute;
          background-image: url(/img/statistic-img.svg);
          background-position: 100% 100%;
          background-repeat: no-repeat;
          background-size: 33%;
  
        }
      }

      &-statistic{
        position: absolute;
        right: 72px;
      }
      &-description{
        width: 163px;
      }
    }
  }
  &-photo{
    display: flex;
    gap: 40px;
    justify-content: space-around;
    &-img{
      width: 50%;
      border-radius: 20px;
    }
  }
}

/* 3 блок */
.benefits{
  display: flex;
  flex-direction: column;
  align-items: center;
  &-cols{
    margin-bottom: 100px;
    display: flex;
    column-gap: 40px;
    justify-content: center;
    &-leftcol{
      width: 44%;
      p{
        text-align: right;
      }
      &-row{
        &-title{
          &:after{
            content: url(/img/leaves-title.svg);
            margin-left: 12px;
          }
        }
      }
    }
    &-rightcol{
      width: 44%;
      &-row{
        &-title{
          &:before{
            content: url(/img/leaves-title.svg);
            margin-right: 12px;
          }
        }
      }
    }
  }

  &-quote{
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    position: relative;
    p{
      width: 60%;
      display: block;
    }
    &:after{
      content: "";
      height: 1px;
      width: 100px;
      position: absolute;
      top: -50px;
      background-color: grey;
    }
  }

  &-docs{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    column-gap: 1%;
    & img {
      max-width: 19.2%;
      height: auto;
      object-fit: contain;
    }
  }
}

/* 4 блок */

.greenblock-shopsimg{
  position: relative;
  &-img1{
    width: 147px;
    height: 147px;
    position: absolute;
    top: -13px;
    left: -2px;
    background-image: url(/img/shopblock-img1.svg);
    background-position: 0% 0%; 
    background-repeat: no-repeat;
    background-size: 100%;
    rotate: 21deg;
  }
  &-img2{
    width: 288.89px;
    height: 247.83px;
    position: absolute;
    bottom: 0;
    right: 10px;
    background-image: url(/img/shopblock-img2.svg);
    background-position: 100% 100%; 
    background-repeat: no-repeat;
    background-size: 83%;
  }
}

.shops{
  display: flex;
  column-gap: 2%;
  &-item{
    width: 25%;
    & img {
      border-radius: 20px;
      margin-bottom: 15px;
    }
    & p {
      margin-bottom: 0px;
    }
    &-information{
      & span img{
        margin-right: 10px;
        display: inline;
        vertical-align: middle;
      }
    }
  }
}

/* 5 блок */
.locations{
  width: 80%;
  display: flex;
  column-gap: 4%;
  &-areas{
    width: 33%;

  }

}