.product-cont{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    &-text{
        width: 50%;
        &-h2{
            margin-bottom: 30px;
            text-align: left;
        }
        &-cols{
            display: flex;
            gap: 10px;
            flex-direction: column;

            &-col{
                width: 100%;
                display: flex;
                & p{
                    display: block;
                    font-size: 1.125em;
                    line-height: 100%;
                    &:nth-child(1) {
                        width: 32%;
                        font-weight: bold;
                    }
                    &:nth-child(2) {
                        width: 68%;
                    }
                }
            }            
        }
    }

}

// Слайдер продукта
.slider-product{
    width: 50%;
    height: 500px;
}

.slider-product-width {
    min-width: 0;
    height: 450px;
    display: flex;
    justify-content: center;
}
.btn-left-slider-product{
    width: 42px;
    height: 42px;
    margin-left: 30px;
    top: 220px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 50%;
    &::after{
        content: url(/img/arrow-left.svg);
        position: absolute;
        top: -8px;
        left: 11px;
    }
}
.btn-right-slider-product{
    width: 42px;
    height: 42px;
    margin-right: 30px;
    top: 220px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 50%;
    &::after{
        content: url(/img/arrow-right.svg);
        position: absolute;
        top: -8px;
        right: 11px;
    }
}
.product-swiper-pagination{
    bottom: -6px;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    margin: 2px;
    display: inline-block;
    background-color: grey;
    border-radius: 50%;
    &-active{
        width: 12px;
        height: 12px;
        margin: 2px;
        display: inline-block;
        border-radius: 50%;
        background-color: rgb(135, 135, 135);
    }
}
// Слайдер END

// Слайдер процесса 
.v-swiper-slide {
  background-size: cover;
  background-position: center;
}

.v-slider-proc-main {
  width: 100%;
  height: auto;
}

.big-wrapper{
  height: 450px;
}

.v-slider-proc-mini {
  width: 80%;
  height: 100px;
  box-sizing: border-box;
  padding: 10px 0;
}

.v-slider-proc-mini .v-swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.v-slider-proc-mini .swiper-slide-thumb-active {
  opacity: 1;
}

.v-swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
// Слайдер процесса END

.wiki-cont {
    &-text{
        display: flex;
        gap: 20px;
        & p{
            width: 50%;
            display: block;
        }
    }
}
