body {
  background-color: #FFFBF6;
  background-image: url(/img/bg-fon.svg);
  background-attachment: fixed;
  background-size: 12%;
}

main {
padding-top: 70px;
padding-bottom: 70px;
}

.whiteblock{
  background-color: white;
  background-image: url(/img/block-white-img-1.svg),
  url(/img/block-white-img-2.svg);
  background-position: 10px 10px, 99% 100%; 
  background-repeat: no-repeat;
  background-size: 15%, 15%;
  border-radius: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

.whiteblock-map{
  background-color: white;
  background-image: url(/img/block-white-img-1.svg),
  url(/img/img-map.png),
  url(/img/beetle.svg);
  background-position: 10px 10px, 95% 85%, 90% 100%; 
  background-repeat: no-repeat;
  background-size: 15%, 30%, 2%;
  border-radius: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

.greenblock{
  background: linear-gradient(90deg, #669C85 0%, #97CDB6 100%);
  
  border-radius: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

/* 1-Обложка */
.cover {
  height: 725px;

  position: relative;

  background-color: $maincolor;
  background-image: url(/img/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &-slider{
    width: 320px;
    height: 100%;
    padding-top: 44px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgba(58, 58, 58, 0.31);
    backdrop-filter: blur(10px);
    &-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-row {
        display: flex;
        width: 80%;
        & p{
          &:nth-child(1) {
            width: 50%;
          }
          &:nth-child(2) {
            width: 50%;
            text-align: right;
          }
        }
      }
    }
    &-btn {
      width: 100%;
      padding-top: 24px;
      padding-bottom: 43px;
      background-color: $main-color-green;
      border: none;
    }
  }
  &-cont{
    height: 725px;
    &-wrap{
      width: 50%;
      height: 100%;
      padding-left: 28px;
      padding-right: 20px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      background-color: rgba(58, 58, 58, 0.31);
      backdrop-filter: blur(10px);
    }

  }
}

/* 1 блок */

.products{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 24px 80px 24px;
  
  &-cols{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 2%;  
    margin-bottom: 88px;
  &-col{
    width: 23%;
    box-sizing: border-box;

    position: relative;
    
    &-img{    
      width: 40%;
      padding-left: 2%;
      padding-right: 2%;
      display: flex;
      justify-content: center;

      position: absolute;
      bottom: -45px;

      & img{
      }        
    }
    &-grey{
      padding: 15px 5px 15px 0;

      display: flex;
      justify-content: flex-end;
      background-color: $product-card-color;      
      background-image: url(/img/product-card-img.svg);
      background-position: right 106%; 
      background-repeat: no-repeat;
      background-size: 25%;
      border-radius: 15.3722px;
      &-cont{
        width: 60%;

      }
    }

  }
  &-gap{
      width: 5%;
  }
}
}

/* 2 блок */
.progress{
  &-numbers{
    display: flex;
  }
  &-photo{
    display: flex;
  }
}

/* 3 блок */
.benefits{
  &-items{
    display: flex;
  }
  &-docs{
    display: flex;
  }
}

/* 4 блок */
.shops{
  display: flex;
}

/* 5 блок */
.locations{
  display: flex;
}