@media (max-width: 480px) {
  .btn-page {
    &::after {
      right: 10%;
    }
  }

    // 5
    .locations{
      flex-direction: column;
      &-areas{
        width: 100%;
      }
    }

}

@media (max-width: 375px) {
  .btn-page {
    width: 100%;
    font-size: 4vw;
    &::after {
      right: 10%;
    }
  }

    // 5
    .locations{
      flex-direction: column;
      &-areas{
        width: 100%;
      }
    }

}