@media (max-width: 768px) {
    .top-header{
        &-content{
            min-height: 85px;
            justify-content: space-between;
            &-logocont{
                display: none;
            }
        }
    }

    .mobile-logo{
        display: block;
    }

    /////////////////
   
    .menu{
        width: 100%;
        z-index: 9;
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        right: 0px;
        top: 85px;
        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(3px);
        &-item{
            & a{
                padding: 30px 40px;
                margin-top: 0;
                font-weight: 600;
                color: $text-color-dark1;
                &:hover{
                    color: $text-color-dark1;                
                }
                &:after{
                    top: 56px;
                    background: $text-color-dark1; 
                }
        } 
      }
    }
  
    .main-header-menu-label {
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0px;
    top: 10px;
    background-image: url(/img/menu.svg);
    background-size: 100%;
    background-position: 0 0;
    }
    
    .main-header-menu-input[type="checkbox"]:checked ~ .main-header-menu-wrp ul{
    height: auto;
    visibility: visible;
    }
/* end */
}
