@media (max-width: 768px) {
    .footer-logocont {
        width: 100px;
    }

    .footer-cont{
        &-copyright{
            width: 40%;
            &-dev{
                flex-direction: column;
                &:nth-child(2){
                    margin-bottom: 0;
                }
            }
        }
        &-contacts{
            width: 59%;
            justify-content: space-between;
            &-phone{
                width: 40%;
            }
            &-adres{
                width: 52%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }

}