@media (max-width: 768px) {
  .news{
    &-cols{
      flex-direction: column;
      flex-wrap: nowrap;
      &-col{
        width: 100%;
        flex-direction: column;
        background-position: right 107%;
        &-img{
          width: 100%;
          height: 200px;
          & img{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
          }
        }
        &-grey1{
          width: 100%;
        }
      }
    }
  }

}

@media (max-width: 480px){
  .news-cols-col{
    background-size: 26%;
    background-position: right 104%;
  }
}
@media (max-width: 360px){
  .news-cols-col{
    ackground-size: 43%;
    background-position: right 105%;
  }
}