@media (max-width: 768px) {
    body{
        background-size: 22%;
    }

    main{
        padding-top: 0;
    }

    .whiteblock{
        background-size: 28%, 32%;
    }

    .whiteblock-map{
        background-size: 28%, 50%, 5%;
    }
    
    .cover{
        display: none;
        &-cont { 
            width: 100%;
            display: flex;
            align-items: center;
            &-wrap{
                width: 100%;
                height: 74%;
                 align-items: center;
            }
          }
    }

    .cover-mobile{
        display: block;
        &-slides{            
            height: 514px; 
            background-image: url(/img/slider-cover/fotomobile4.jpg);
            background-position: center; 
            background-repeat: no-repeat;
            background-size: cover;
        }
        &-content{
            padding: 20px 20px 20px 20px;
            outline: 1px solid white;
            border-radius: 30px;
        }
    }
   
    .greenblock-cover-mobile{
        padding: 10px 10px 10px 10px !important;
    }

    .blockwhite-cont{
        background-size: 23%, 23%;
    }

    // 1
    .products{
        &-cols{
        &-col{
            width: 49%
        }
        }
    }

    // 2
    .progress{
        &-numbers{
        column-gap: 20px;
        justify-content: center;
        &-item{
            width: 40%;
        }
        }
        &-photo{
            flex-wrap: wrap;
            &-img{
                width: 100%;
                &:nth-child(1){
                    display: none;
                }
            }
        }
    }

    // 3
    .benefits{
        &-cols{
            flex-direction: column;
            &-leftcol{
                width: 100%;
                p{
                    text-align: left;
                }
                &-row{
                    &-title{
                        &:after{
                            display: none;
                        }
                        &:before{
                            content: url(/img/leaves-title.svg);
                            margin-right: 12px;
                          }
                    }
                }
            }
            &-rightcol{
                width: 100%;
            }
        }
        &-quote{
           & p{
            width: 100%;
           } 
        }
        &-docs{
            justify-content: space-evenly;
           & img{
            max-width: 32%;
            &:nth-child(n+4){
                display: none;
            }

        } 
        }
        
    }

    //4 
    .shops{
        flex-direction: column;
        align-items: center;
        &-item{
            width: 65%;
           }
    }

    // 5
    .locations{
        width: 100%;
    }

}

