@media (max-width : 1024px) {
  footer{
    height: 230px;
    margin-top: -230px;
    padding-top: 25px;
  }

  .clr {
    height: 230px;
  }


  .container-rows {
    width: 93.94%; // 962/1024
  }
}