@charset "UTF-8";
/* 1_desctop-от 1600 до 1920 */
/* ====== 1 Прижать футер */
/* 1) */
html, body {
  height: 100%; }

/* 2) */
.main-container {
  min-height: 100%; }

/* 3) + цвет фона + центрирование содержимого*/
footer {
  height: 276px;
  margin-top: -276px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/* 4) */
.clr {
  height: 276px; }

/* ширина + границы сетки */
.container-rows {
  width: 66.66%;
  margin: 0 auto;
  box-sizing: border-box; }

/* 1) для верхнего меню */
.padding-block-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

/* 2) для обложки */
/* 3) для изображения*/
.padding-block-img {
  min-height: 200px;
  padding-top: 90px;
  padding-bottom: 90px; }

/* 4) для заголовка и текста*/
.padding-block-text {
  min-height: 200px;
  padding-top: 20px;
  padding-bottom: 20px; }

/* 5) для заголовка и изображения*/
.padding-block-textimg {
  min-height: 200px;
  padding-top: 70px;
  padding-bottom: 86px; }

.blockundermenu {
  height: 75px; }

.first-font, h1, h2, h3, .cover-cont-wrap-h1, .cover-cont-wrap-p, .text-name-card, .text-value-card {
  font-family: 'Bookman Old Style', 'Times New Roman', Times, serif; }

.second-font, .cover-slider-content-row p, .text-basic, .menu-link,
p, a, .card-link, .text-text-card, .footer-text, .btn-cover, .cover-slider-btn, .btn-page {
  font-family: 'Circe', Arial, Helvetica, sans-serif; }

/* h1 */
h1 {
  font-size: 4.375em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 110%;
  color: #1D1D1D; }

h2 {
  font-size: 2.4375em;
  font-stretch: normal;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  text-align: center;
  color: #378E6f;
  margin-bottom: 55px; }

h3 {
  font-size: 2em;
  font-stretch: normal;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  text-align: center;
  color: #378E6f;
  margin-bottom: 55px; }

.h2-page {
  margin-top: -10px;
  margin-bottom: 0.5em; }

.cover-cont-wrap-h1 {
  position: relative;
  text-align: left;
  color: #fff;
  margin-bottom: 40px; }
  .cover-cont-wrap-h1 span {
    font-style: italic; }
    .cover-cont-wrap-h1 span:nth-child(4) {
      padding-left: 150px; }

.cover-cont-wrap-p {
  font-size: 1.4em;
  line-height: 161%;
  color: #E2F0E5;
  margin-bottom: 55px; }

.cover-slider-content-row p {
  font-size: 1.25em;
  font-style: normal;
  letter-spacing: 0.05em;
  color: rgba(255, 255, 255, 0.6); }

/* main text */
.text-basic, .menu-link,
p {
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  letter-spacing: 0.025em;
  color: #1D1D1D;
  margin-bottom: 15px; }

a {
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  letter-spacing: 0.025em;
  text-transform: lowercase;
  color: #3C7D4A; }
  a:hover {
    color: #2b5b36; }

.menu-link {
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white; }
  .menu-link:hover {
    color: white; }
    .menu-link:hover::after {
      transform: translateY(2px) scale(1); }
  .menu-link:after {
    content: '';
    position: absolute;
    display: block;
    width: 55%;
    top: 22px;
    height: 1px;
    background: white;
    transform: translateY(2px) scale(0);
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }

.card-link {
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.025em;
  text-transform: lowercase;
  color: #86A2A3; }
  .card-link:hover {
    color: #6a8b8c; }

.text-name-card {
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 1.875em;
  line-height: 100%;
  text-align: left;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #378E6f; }

.text-value-card {
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 1.625em;
  line-height: 100%;
  text-align: left;
  letter-spacing: 0.025em;
  color: #378E6f; }

.text-text-card {
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 0.875em;
  line-height: 120%;
  text-align: left;
  letter-spacing: 0.025em;
  color: #86A2A3; }

.footer-text {
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  letter-spacing: 0.025em;
  color: #2F2F2F; }

/* Верхнее меню */
/* фиксация, цвет */
.top-header {
  width: 100%;
  min-height: 85px;
  background-color: #62887A; }
  .top-header-content {
    display: flex;
    justify-content: center;
    align-items: center; }
    .top-header-content-logocont {
      position: relative;
      width: 142px;
      display: flex;
      justify-content: center; }
      .top-header-content-logocont a {
        position: absolute;
        z-index: 1; }

.mobile-logo {
  display: none; }

.main-header-menu-wrp {
  display: flex; }
  .main-header-menu-wrp-link {
    min-width: 170px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }

label,
#menu {
  display: none; }

body {
  background-color: #FFFBF6;
  background-image: url(/img/bg-fon.svg);
  background-attachment: fixed;
  background-size: 12%; }

main {
  padding-top: 70px;
  padding-bottom: 70px; }

/* 1-Обложка */
.cover {
  height: 725px;
  position: relative;
  background-color: #A873EC;
  background-image: url(/img/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .cover-slider {
    width: 320px;
    height: 100%;
    padding-top: 44px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgba(58, 58, 58, 0.31);
    backdrop-filter: blur(10px); }
    .cover-slider-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .cover-slider-content-row {
        display: flex;
        width: 80%; }
        .cover-slider-content-row p:nth-child(1) {
          width: 50%; }
        .cover-slider-content-row p:nth-child(2) {
          width: 50%;
          text-align: right; }
    .cover-slider-btn {
      width: 100%;
      padding-top: 24px;
      padding-bottom: 43px;
      background-color: #62887A;
      border: none; }
  .cover-cont {
    height: 725px; }
    .cover-cont-wrap {
      width: 50%;
      height: 100%;
      padding-left: 28px;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background-color: rgba(58, 58, 58, 0.31);
      backdrop-filter: blur(10px); }

/* 1 блок */
.blockwhite {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 24px 80px 24px;
  background-color: white;
  background-image: url(/img/block-white-img-1.svg), url(/img/block-white-img-2.svg);
  background-position: 10px 10px, 99% 100%;
  background-repeat: no-repeat;
  background-size: 15%, 15%;
  border-radius: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35); }
  .blockwhite-cols {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 2%;
    margin-bottom: 88px; }
    .blockwhite-cols-col {
      width: 23%;
      box-sizing: border-box;
      position: relative; }
      .blockwhite-cols-col-img {
        width: 40%;
        padding-left: 2%;
        padding-right: 2%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -45px; }
      .blockwhite-cols-col-grey {
        padding: 15px 5px 15px 0;
        display: flex;
        justify-content: flex-end;
        background-color: #E8E8E8;
        background-image: url(/img/product-card-img.svg);
        background-position: right 106%;
        background-repeat: no-repeat;
        background-size: 25%;
        border-radius: 15.3722px; }
        .blockwhite-cols-col-grey-cont {
          width: 60%; }
    .blockwhite-cols-gap {
      width: 5%; }

.product-cont {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; }
  .product-cont-slider {
    width: 50%;
    height: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .product-cont-slider-wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .product-cont-slider-pagination-circle {
      width: 12px;
      height: 12px;
      margin: 2px;
      display: inline-block;
      background-color: grey;
      border-radius: 50%; }
      .product-cont-slider-pagination-circle-active {
        width: 15px;
        height: 15px;
        margin: 2px;
        display: inline-block;
        background-color: grey;
        border-radius: 50%;
        background-color: #363636; }
  .product-cont-text {
    width: 50%; }
    .product-cont-text-h2 {
      margin-bottom: 30px;
      text-align: left; }
    .product-cont-text-cols {
      display: flex;
      gap: 10px;
      flex-direction: column; }
      .product-cont-text-cols-col {
        width: 100%;
        display: flex; }
        .product-cont-text-cols-col p {
          display: block;
          font-size: 1.125em;
          line-height: 100%; }
          .product-cont-text-cols-col p:nth-child(1) {
            width: 32%;
            font-weight: bold; }
          .product-cont-text-cols-col p:nth-child(2) {
            width: 68%; }

.btn-slider-left {
  width: 42px;
  height: 42px;
  margin-left: 40px;
  position: relative;
  background-color: #D9D9D9;
  border: none;
  border-radius: 50%; }
  .btn-slider-left::after {
    content: url(/img/arrow-left.svg);
    position: absolute;
    top: 12px;
    left: 11px; }

.btn-slider-right {
  width: 42px;
  height: 42px;
  margin-right: 40px;
  position: relative;
  background-color: #D9D9D9;
  border: none;
  border-radius: 50%; }
  .btn-slider-right::after {
    content: url(/img/arrow-right.svg);
    position: absolute;
    top: 12px;
    right: 11px; }

.wiki-cont-text {
  display: flex;
  gap: 20px; }
  .wiki-cont-text p {
    width: 50%;
    display: block; }

footer {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #62887A; }

.footer-logocont {
  position: absolute;
  top: -43px; }

.footer-cont {
  display: flex;
  justify-content: space-between; }
  .footer-cont-copyright {
    position: relative; }
    .footer-cont-copyright-dev {
      display: flex; }
      .footer-cont-copyright-dev-logo {
        text-transform: uppercase;
        color: #2F2F2F; }
  .footer-cont-contacts {
    width: 37%;
    display: flex; }
    .footer-cont-contacts-phone {
      width: 50%; }
    .footer-cont-contacts-adres {
      width: 50%;
      text-align: right; }

.btn-cover {
  font-size: 1em;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #3F3F3F;
  position: relative;
  padding: 21px 78px 17px 48px;
  background-color: #FFD793;
  border: none;
  border-radius: 22px;
  box-shadow: 0 2px 4px -1px rgba(34, 34, 34, 0.49); }
  .btn-cover:hover {
    background-color: #ffe0ad;
    color: #3F3F3F; }
    .btn-cover:hover::after {
      opacity: 1; }
  .btn-cover:active {
    background-color: #ffd184; }
  .btn-cover::after {
    content: url(/img/arrow-btn-right.svg);
    position: absolute;
    top: 18px;
    right: 42px;
    color: #3F3F3F;
    opacity: 0.5; }

.cover-slider-btn {
  font-size: 1.25em;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  position: relative;
  cursor: pointer; }
  .cover-slider-btn:hover::after {
    opacity: 1; }
  .cover-slider-btn::after {
    content: url(/img/arrow-slider-btn-right.svg);
    position: absolute;
    top: 55%;
    right: 40%;
    opacity: 0.4; }

.btn-page {
  font-size: 1em;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #3F3F3F;
  position: relative;
  padding: 21px 78px 17px 48px;
  background-color: #FFD793;
  border: none;
  border-radius: 22px;
  box-shadow: 0 2px 4px -1px rgba(34, 34, 34, 0.49); }
  .btn-page:hover {
    color: #3F3F3F;
    background-color: #ffe0ad; }
    .btn-page:hover::after {
      opacity: 1; }
  .btn-page:active {
    background-color: #ffce7a; }
  .btn-page::after {
    content: url(/img/arrow-btn-right.svg);
    position: absolute;
    top: 18px;
    right: 42px;
    color: #3F3F3F;
    opacity: 0.5; }

/* 2_desctop-от 1280 до 1600 */
@media (max-width: 1600px) {
  .container-rows {
    width: 80%; } }
/* 3_desctop-от 1024 до 1280 */
@media (max-width: 1280px) {
  .container-rows {
    width: 89.53%; } }
@media (max-width: 1280px) {
  .text-name-card {
    font-size: 1.6875em; }

  .text-value-card {
    font-size: 1.4687em; }

  .text-text-card {
    font-size: 0.7812em; } }
@media (max-width: 1280px) {
  .cover {
    background-image: url(/img/cover-1280.jpg); }
    .cover-slider {
      width: 295px; }

  .blockwhite-cont {
    padding: 70px 20px 80px 20px; } }
/* 4_tablet-от 768 до 1024 */
@media (max-width: 1024px) {
  footer {
    height: 230px;
    margin-top: -230px;
    padding-top: 25px; }

  .clr {
    height: 230px; }

  .container-rows {
    width: 93.94%; } }
@media (max-width: 1024px) {
  .text-name-card {
    font-size: 1.875em; }

  .text-value-card {
    font-size: 1.625em; }

  .text-text-card {
    font-size: 0.875em; } }
@media (max-width: 1024px) {
  body {
    background-size: 20%; }

  .cover-slider {
    display: none; }

  .blockwhite-cont-cols-col {
    width: 48%; } }
/* 5_tablet-от 480 до 768*/
@media (max-width: 768px) {
  footer {
    height: 305px;
    margin-top: -305px;
    padding-top: 35px; }

  .clr {
    height: 305px; }

  .container-rows {
    width: 92.7%; }

  .padding-block-header {
    justify-content: center; } }
@media (max-width: 768px) {
  .menu-link {
    font-weight: bold;
    color: #242424; }

  .cover-cont-wrap-p {
    text-align: center; } }
@media (max-width: 768px) {
  .top-header-content {
    justify-content: space-between; }
    .top-header-content-logocont {
      display: none; }

  .mobile-logo {
    display: block;
    margin-top: -85px; }

  .main-header-menu-wrp {
    z-index: 1;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 85px;
    background-color: rgba(255, 255, 255, 0.9); }
    .main-header-menu-wrp-link {
      min-width: 275px;
      margin-top: 0;
      padding: 30px 40px; }
      .main-header-menu-wrp-link p:hover::before {
        display: none; }

  .main-header-menu-label {
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(/img/menu.svg);
    background-size: 100%;
    background-position: 0 0; }

  .main-header-menu-input[type="checkbox"]:checked ~ .main-header-menu-wrp {
    height: auto;
    visibility: visible; }

  /* end */ }
@media (max-width: 768px) {
  body {
    background-size: 22%; }

  .cover-cont {
    width: 100%;
    display: flex;
    align-items: center; }
    .cover-cont-wrap {
      width: 100%;
      height: 74%;
      align-items: center; }

  .blockwhite-cont {
    background-size: 23%, 23%; } }
@media (max-width: 768px) {
  .product-cont {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end; }
    .product-cont-slider {
      width: 100%; }
    .product-cont-text {
      width: 100%; }
      .product-cont-text-h2 {
        margin-bottom: 30px;
        text-align: center; }
      .product-cont-text-cols {
        width: 80%;
        margin: 0 auto; }

  .wiki-cont-text {
    flex-direction: column; }
    .wiki-cont-text p {
      width: 100%; } }
@media (max-width: 768px) {
  .footer-logocont {
    width: 100px; }

  .footer-cont-copyright {
    width: 40%; }
    .footer-cont-copyright-dev {
      flex-direction: column; }
      .footer-cont-copyright-dev:nth-child(2) {
        margin-bottom: 0; }
  .footer-cont-contacts {
    width: 59%;
    justify-content: space-between; }
    .footer-cont-contacts-phone {
      width: 40%; }
    .footer-cont-contacts-adres {
      width: 52%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; } }
/* 6_mob-от 360 до 480*/
@media (max-width: 480px) {
  footer {
    height: 340px;
    margin-top: -340px;
    padding-top: 35px; }

  .clr {
    height: 340px; }

  .container-rows {
    width: 88.33%; } }
@media (max-width: 480px) {
  h1 {
    font-size: 4.2em; }

  .cover-cont-wrap-h1 span:nth-child(4) {
    padding-left: 129px; }

  .cover-cont-wrap-p {
    font-size: 1.2em; } }
@media (max-width: 480px) {
  body {
    background-size: 43%; }

  .cover-cont {
    width: 100%; }
    .cover-cont-wrap {
      width: 100%;
      height: 74%; }

  .blockwhite-cont {
    background-size: 37%, 37%; }
    .blockwhite-cont-cols {
      flex-direction: column;
      align-items: center; }
      .blockwhite-cont-cols-col {
        width: 98%; } }
@media (max-width: 480px) {
  .product-cont-text-cols {
    width: 100%; }
    .product-cont-text-cols-col {
      justify-content: space-between; }
      .product-cont-text-cols-col p:nth-child(1) {
        width: 30%;
        font-weight: bold; }
      .product-cont-text-cols-col p:nth-child(2) {
        width: 66%; }

  .btn-slider-left {
    margin-left: 0; }

  .btn-slider-right {
    margin-right: 0; } }
@media (max-width: 480px) {
  .footer-cont {
    height: 265px;
    justify-content: space-between;
    flex-direction: column-reverse; }
    .footer-cont-copyright {
      width: 100%;
      display: flex; }
      .footer-cont-copyright-dev {
        align-items: flex-end; }
        .footer-cont-copyright-dev p {
          text-align: right; }
    .footer-cont-contacts {
      width: 100%; }
      .footer-cont-contacts-adres {
        width: 53%; } }
/* 7_mob-до 360*/
@media (max-width: 360px) {
  footer {
    height: 468px;
    margin-top: -468px;
    padding-top: 105px; }

  .clr {
    height: 468px; }

  .container-rows {
    width: 89.44%; } }
@media (max-width: 360px) {
  h1 {
    font-size: 2.8em; }

  .cover-cont-wrap-p {
    font-size: 1em; }

  .footer-text {
    margin-bottom: 0; } }
@media (max-width: 360px) {
  .top-header {
    min-height: 65px; } }
@media (max-width: 360px) {
  .cover-cont {
    width: 100%; }
    .cover-cont-wrap {
      width: 100%;
      height: 74%; } }
@media (max-width: 360px) {
  .footer-cont-copyright {
    flex-direction: column;
    align-items: center; }
    .footer-cont-copyright-dev {
      align-items: center; }
    .footer-cont-copyright-text p {
      margin-bottom: 10px;
      text-align: center; }
  .footer-cont-contacts {
    flex-direction: column;
    align-items: center; }
    .footer-cont-contacts-phone {
      width: 100%;
      margin-bottom: 10px;
      text-align: center; }
    .footer-cont-contacts-adres {
      width: 100%;
      margin-bottom: 10px;
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
