@media (max-width: 360px) {
  .cover{
    &-cont { 
        width: 100%;
        &-wrap{
            width: 100%;
            height: 74%;
        }
      }
  }

  .slider-cover-mobile-slide-size{
    height: 40vh;
  }
  .cover-mobile{
    &-slides{
        height: 40vh; 
    }
}
  // 2
  .greenblock-bgimg{
    &-img1{
      width: 147px;
      height: 147px;
      background-size: 80%;
    }
    &-img2{
      width: 230px;
      height: 165px;
      background-size: 65%;
    }
  }

  .progress{
    &-numbers{
      &-item{
          width: 60%;
      }
    }
  }

}