@charset "UTF-8";
/* 1_desctop-от 1600 до 1920 */
/* ====== 1 Прижать футер */
/* 1) */
html, body {
  height: 100%; }

/* 2) */
.main-container {
  min-height: 100%; }

/* 3) + цвет фона + центрирование содержимого*/
footer {
  height: 276px;
  margin-top: -276px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* 4) */
.clr {
  height: 276px; }

/* ширина + границы сетки */
.container-rows {
  width: 66.66%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* 1) для верхнего меню */
.padding-block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

/* 2) для обложки */
/* 3) для изображения*/
.padding-block-img {
  min-height: 200px;
  padding-top: 90px;
  padding-bottom: 90px; }

/* 4) для заголовка и текста*/
.padding-block-text {
  padding-top: 20px;
  padding-bottom: 20px; }

/* 5) для заголовка и изображения*/
.padding-block-textimg {
  min-height: 200px;
  padding-top: 70px;
  padding-bottom: 86px; }

.blockundermenu {
  height: 75px; }

.first-font, h1, h2, h3, .cover-cont-wrap-h1, .cover-cont-wrap-p, .typ-top-header-content-title p, .cover-mobile-content p, .text-name-card, .text-name-news, .typ-numbers-statistic, .typ-shops-title {
  font-family: 'Bookman Old Style', 'Times New Roman', Times, serif; }

.second-font, .v-slider-right-content-row p, .text-basic, .menu-link, .menu-item a,
p, a, .text-text-card, .text-link-card, .text-link-news, .text-text-news, .text-date-news, .typ-numbers-description, .typ-benefits-title, .typ-benefits-quote, .typ-locations-title, .footer-text, .v-slider-right-nameproduct, .btn-cover, .v-slider-right-btn, .btn-page {
  font-family: 'Circe', Arial, Helvetica, sans-serif; }

/********************** h1 */
h1 {
  font-size: 4.375em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 110%;
  color: #1D1D1D; }

h2 {
  font-size: 2.4375em;
  font-stretch: normal;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  text-align: center;
  color: #378E6f;
  margin-bottom: 55px; }

.typ-h2-greenblock {
  color: #ffffff; }

h3 {
  font-size: 1.7em;
  font-stretch: normal;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0em;
  color: #378E6f;
  margin-bottom: 27px; }

.h2-page {
  margin-top: -10px;
  margin-bottom: 0.5em; }

.cover-cont-wrap-h1 {
  position: relative;
  text-align: left;
  color: #fff;
  margin-bottom: 40px; }
  .cover-cont-wrap-h1 span {
    font-style: italic; }
    .cover-cont-wrap-h1 span:nth-child(4) {
      padding-left: 150px; }

.cover-cont-wrap-p {
  font-size: 1.4em;
  line-height: 161%;
  color: #E2F0E5;
  margin-bottom: 55px; }

.typ-top-header-content-title p {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 81.38%;
  text-align: center;
  letter-spacing: 0em;
  color: white; }

.cover-mobile-content p {
  margin-bottom: 5px;
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  color: white; }

.v-slider-right-content-row p {
  font-size: 1.25em;
  font-style: normal;
  letter-spacing: 0.05em;
  color: white; }

/*************** main text */
.text-basic, .menu-link, .menu-item a,
p {
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  letter-spacing: 0.025em;
  color: #1D1D1D;
  margin-bottom: 15px; }

a {
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  letter-spacing: 0.025em;
  color: #3C7D4A; }
  a:hover {
    color: #2b5b36; }

.menu-link {
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white; }
  .menu-link:hover {
    color: white; }
    .menu-link:hover::after {
      -webkit-transform: translateY(2px) scale(1);
              transform: translateY(2px) scale(1); }
  .menu-link:after {
    content: '';
    position: absolute;
    display: block;
    width: 55%;
    top: 22px;
    height: 1px;
    background: white;
    -webkit-transform: translateY(2px) scale(0);
            transform: translateY(2px) scale(0);
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }

.text-name-card {
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 100%;
  text-align: left;
  letter-spacing: 0.025em;
  color: #378E6f; }

.text-text-card {
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 0.875em;
  line-height: 120%;
  text-align: left;
  letter-spacing: 0.05em;
  color: #86A2A3; }

.text-link-card {
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.025em;
  text-transform: lowercase;
  color: #86A2A3; }
  .text-link-card:hover {
    color: #6a8b8c; }

.text-link-news {
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.025em;
  text-transform: lowercase;
  color: #86A2A3; }
  .text-link-news:hover {
    color: #6a8b8c; }

.text-name-news {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 100%;
  text-align: left;
  letter-spacing: 0em;
  color: #378E6f; }

.text-text-news {
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 300;
  font-size: 0.875em;
  line-height: 120%;
  text-align: left;
  letter-spacing: 0.05em;
  color: #86A2A3; }

.text-date-news {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 0.875em;
  line-height: 120%;
  text-align: left;
  letter-spacing: 0.05em;
  color: #86A2A3; }

.typ-numbers-statistic {
  font-size: 5.8125em;
  line-height: 1.2em;
  font-weight: 600;
  color: #ffffff; }

.typ-numbers-description {
  font-size: 1em;
  line-height: 1.1em;
  color: #ffffff; }

.typ-benefits-title {
  font-size: 1.25em;
  text-transform: uppercase;
  color: #378E6f; }

.typ-benefits-description {
  line-height: 1.3em; }

.typ-benefits-quote {
  font-size: 1.5em;
  line-height: 1.25em;
  text-align: center;
  color: #8A8A8A; }

.typ-shops-title {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1em;
  color: #ffffff;
  margin-bottom: 15px !important; }

.typ-shops-information {
  color: #ffffff; }

.typ-locations-title {
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase; }

.footer-text {
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 169%;
  letter-spacing: 0.025em;
  color: #2F2F2F; }

/* Верхнее меню */
/* под WP */
.top-header {
  width: 100%;
  min-height: 85px;
  background-color: #62887A; }
  .top-header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .top-header-content-logocont {
      width: 142px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      z-index: 10;
      top: 0; }

.mobile-logo {
  display: none; }

.top-header-content-title {
  display: none; }

.menu li {
  position: relative; }

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }

.menu-list > li:hover .sub-menu {
  display: block; }

.menu-item a {
  min-width: 170px;
  margin-top: 30px;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white; }
  .menu-item a:hover {
    color: white; }
    .menu-item a:hover::after {
      -webkit-transform: translateY(2px) scale(1);
              transform: translateY(2px) scale(1); }
  .menu-item a:after {
    content: '';
    position: absolute;
    display: block;
    width: 55%;
    top: 22px;
    height: 1px;
    background: white;
    -webkit-transform: translateY(2px) scale(0);
            transform: translateY(2px) scale(0);
    -webkit-transition: all 0.1s;
    transition: all 0.1s; }

.sub-menu {
  padding-top: 20px !important;
  display: none;
  position: absolute;
  z-index: 1000;
  top: 42px; }

.sub-menu > li {
  margin: 0 0 0 0;
  padding: 15px 10px 16px 10px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px); }
  .sub-menu > li:hover {
    background-color: #a8b9b3a3; }

.sub-menu > li > a {
  margin-top: 0;
  color: #235443;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  line-height: 1em;
  text-transform: lowercase; }
  .sub-menu > li > a:hover {
    color: #235443; }
  .sub-menu > li > a:after {
    content: none; }

label,
#menu {
  display: none; }

body {
  background-color: #FFFBF6;
  background-image: url(/img/bg-fon.svg);
  background-attachment: fixed;
  background-size: 12%; }

main {
  padding-top: 70px;
  padding-bottom: 70px; }

.whiteblock {
  padding: 70px 70px 80px 70px;
  background-color: white;
  background-image: url(/img/block-white-img-1.svg), url(/img/block-white-img-2.svg);
  background-position: 10px 10px, 99% 100%;
  background-repeat: no-repeat;
  background-size: 15%, 15%;
  border-radius: 40px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35); }

.whiteblock-products {
  padding-left: 24px;
  padding-right: 24px; }

.whiteblock-map {
  padding: 70px 70px 80px 70px;
  background-color: white;
  background-image: url(/img/block-white-img-1.svg), url(/img/img-map.png), url(/img/beetle.svg);
  background-position: 10px 10px, 95% 85%, 90% 100%;
  background-repeat: no-repeat;
  background-size: 15%, 30%, 2%;
  border-radius: 40px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35); }

.greenblock {
  padding: 70px 70px 80px 70px;
  background: -webkit-gradient(linear, left top, right top, from(#669C85), to(#97CDB6));
  background: linear-gradient(90deg, #669C85 0%, #97CDB6 100%);
  border-radius: 40px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35); }

/* 1-Обложка */
.cover-mobile {
  display: none; }

.cover {
  height: 725px;
  position: relative;
  background-color: #62887A; }
  .cover-cont {
    height: 725px; }
    .cover-cont-wrap {
      width: 33.5%;
      height: 100%;
      padding-left: 28px;
      padding-right: 20px;
      position: absolute;
      z-index: 2;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      background-color: rgba(118, 118, 118, 0.13);
      -webkit-backdrop-filter: blur(10px);
              backdrop-filter: blur(10px); }

.v-slider-right {
  width: 320px;
  height: 100%;
  padding-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(118, 118, 118, 0.13);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); }
  .v-slider-right-content {
    width: 100%;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .v-slider-right-content-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 80%; }
      .v-slider-right-content-row p:nth-child(1) {
        width: 50%; }
      .v-slider-right-content-row p:nth-child(2) {
        width: 50%;
        text-align: right; }
  .v-slider-right-nameproduct {
    padding-top: 20px;
    font-size: 1.4em;
    line-height: 161%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #62887A; }
  .v-slider-right-btn {
    width: 100%;
    height: 55px;
    display: block;
    background-color: #62887A;
    border: none; }

.slider-right {
  position: absolute;
  right: 0;
  z-index: 10; }

.slide-right-width {
  min-width: 0; }

.slider-right-size, .slider-right-slide-1, .slider-right-slide-2, .slider-right-slide-3 {
  height: 325px;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat; }

.slider-right-slide-1 {
  background-image: url("/img/slider-cover-right/milk-cover-slider-right.png"); }

.slider-right-slide-2 {
  background-image: url("/img/slider-cover-right/smetana-cover-slider-right.png"); }

.slider-right-slide-3 {
  background-image: url("/img/slider-cover-right/butter-cover-slider-right.png"); }

.slider-cover-wrapper {
  position: absolute;
  z-index: 1; }

.slide-cover-width {
  min-width: 0; }

.slider-cover-slide-size, .slider-cover-slide-1, .slider-cover-slide-2, .slider-cover-slide-3, .slider-cover-slide-4, .slider-cover-slide-5 {
  height: 725px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.slider-cover-slide-1 {
  background-image: url("/img/slider-cover/foto1.jpg"); }

.slider-cover-slide-2 {
  background-image: url("/img/slider-cover/foto2.jpg"); }

.slider-cover-slide-3 {
  background-image: url("/img/slider-cover/foto3.jpg"); }

.slider-cover-slide-4 {
  background-image: url("/img/slider-cover/foto4.jpg"); }

.slider-cover-slide-5 {
  background-image: url("/img/slider-cover/foto5.jpg"); }

/* 1 блок */
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .products-cols {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 20px;
    -webkit-column-gap: 2%;
            column-gap: 2%;
    margin-bottom: 50px; }
    .products-cols-col {
      width: 23%;
      min-height: 288px;
      padding: 10px 5px 15px 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      background-color: #f2f2f2;
      border-radius: 15px;
      background-color: #f2f2f2;
      background-image: url(/img/product-card-img.svg);
      background-position: right 103%;
      background-repeat: no-repeat;
      background-size: 35%; }
      .products-cols-col-img1 {
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
        -o-object-fit: contain;
           object-fit: contain;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        bottom: 0px;
        left: 0; }
      .products-cols-col-grey1-cont {
        width: 100%; }

/* 2 блок */
.greenblock-progressimg {
  position: relative; }
  .greenblock-progressimg-img1 {
    width: 147px;
    height: 147px;
    position: absolute;
    top: -19px;
    background-image: url(/img/2block-img1.svg);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 100%; }
  .greenblock-progressimg-img2 {
    width: 230px;
    height: 165px;
    position: absolute;
    bottom: 0;
    right: 45px;
    background-image: url(/img/2block-img2.svg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100%; }

.progress-numbers {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .progress-numbers-item {
    width: 25%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .progress-numbers-item-bg {
      width: 160px;
      height: 89px;
      margin-bottom: 20px;
      position: relative;
      background: rgba(255, 255, 255, 0.07);
      border-radius: 15.2427px; }
      .progress-numbers-item-bg-img {
        width: 160px;
        height: 89px;
        position: absolute;
        background-image: url(/img/statistic-img.svg);
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: 33%; }
    .progress-numbers-item-statistic {
      position: absolute;
      right: 72px; }
    .progress-numbers-item-description {
      width: 163px; }
.progress-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .progress-photo-img {
    width: 50%;
    border-radius: 20px; }

/* 3 блок */
.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .benefits-cols {
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .benefits-cols-leftcol {
      width: 44%; }
      .benefits-cols-leftcol p {
        text-align: right; }
      .benefits-cols-leftcol-row-title:after {
        content: url(/img/leaves-title.svg);
        margin-left: 12px; }
    .benefits-cols-rightcol {
      width: 44%; }
      .benefits-cols-rightcol-row-title:before {
        content: url(/img/leaves-title.svg);
        margin-right: 12px; }
  .benefits-quote {
    margin-bottom: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    .benefits-quote p {
      width: 60%;
      display: block; }
    .benefits-quote:after {
      content: "";
      height: 1px;
      width: 100px;
      position: absolute;
      top: -50px;
      background-color: grey; }
  .benefits-docs {
    width: 100%;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 1%;
            column-gap: 1%; }
    .benefits-docs img {
      max-width: 19.2%;
      height: auto;
      -o-object-fit: contain;
         object-fit: contain; }

/* 4 блок */
.greenblock-shopsimg {
  position: relative; }
  .greenblock-shopsimg-img1 {
    width: 147px;
    height: 147px;
    position: absolute;
    top: -13px;
    left: -2px;
    background-image: url(/img/shopblock-img1.svg);
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    rotate: 21deg; }
  .greenblock-shopsimg-img2 {
    width: 288.89px;
    height: 247.83px;
    position: absolute;
    bottom: 0;
    right: 10px;
    background-image: url(/img/shopblock-img2.svg);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 83%; }

.shops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2%;
          column-gap: 2%; }
  .shops-item {
    width: 25%; }
    .shops-item img {
      border-radius: 20px;
      margin-bottom: 15px; }
    .shops-item p {
      margin-bottom: 0px; }
    .shops-item-information span img {
      margin-right: 10px;
      display: inline;
      vertical-align: middle; }

/* 5 блок */
.locations {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4%;
          column-gap: 4%; }
  .locations-areas {
    width: 33%; }

.product-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .product-cont-text {
    width: 50%; }
    .product-cont-text-h2 {
      margin-bottom: 30px;
      text-align: left; }
    .product-cont-text-cols {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 10px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .product-cont-text-cols-col {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .product-cont-text-cols-col p {
          display: block;
          font-size: 1.125em;
          line-height: 100%; }
          .product-cont-text-cols-col p:nth-child(1) {
            width: 32%;
            font-weight: bold; }
          .product-cont-text-cols-col p:nth-child(2) {
            width: 68%; }

.slider-product {
  width: 50%;
  height: 500px;
  position: relative; }

.slider-product-width {
  min-width: 0;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.slider-product-width img {
  -o-object-fit: cover;
     object-fit: cover; }

.btn-left-slider-product {
  width: 42px;
  height: 42px;
  margin-left: 30px;
  top: 42%;
  background-color: #D9D9D9;
  border: none;
  border-radius: 50%; }
  .btn-left-slider-product::after {
    content: url(/img/arrow-left.svg);
    position: absolute;
    top: -8px;
    left: 11px; }

.btn-right-slider-product {
  width: 42px;
  height: 42px;
  margin-right: 30px;
  top: 42%;
  background-color: #D9D9D9;
  border: none;
  border-radius: 50%; }
  .btn-right-slider-product::after {
    content: url(/img/arrow-right.svg);
    position: absolute;
    top: -8px;
    right: 11px; }

.btn-left-slider-768 {
  display: none; }

.btn-right-slider-768 {
  display: none; }

.product-swiper-pagination {
  bottom: -6px; }

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 2px;
  display: inline-block;
  background-color: grey;
  border-radius: 50%; }
  .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    margin: 2px;
    display: inline-block;
    border-radius: 50%;
    background-color: #878787; }

.v-swiper-slide {
  background-size: cover;
  background-position: center; }

.v-slider-proc-main {
  width: 100%;
  height: auto; }

.big-wrapper {
  height: 50vh; }

.v-slider-proc-mini {
  width: 80%;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0; }

.v-slider-proc-mini .v-swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4; }

.v-slider-proc-mini .swiper-slide-thumb-active {
  opacity: 1; }

.v-swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px; }

.wiki-cont-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px; }
  .wiki-cont-text p {
    width: 50%;
    display: block; }

.news-cols {
  width: 100%;
  row-gap: 4%;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .news-cols-col {
    width: 49%;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: #f2f2f2;
    border-radius: 15px;
    background-color: #f2f2f2;
    background-image: url(/img/product-card-img.svg);
    background-position: right 113%;
    background-repeat: no-repeat;
    background-size: 20%; }
    .news-cols-col-img {
      width: 35%; }
      .news-cols-col-img img {
        display: block;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 20px; }
    .news-cols-col-grey1 {
      width: 65%;
      padding: 10px 5px 15px 10px; }
      .news-cols-col-grey1-footer {
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
.news-link-card {
  margin-right: 10px; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #62887A; }

.footer-logocont {
  position: absolute;
  top: -43px; }

.footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer-cont-copyright {
    position: relative; }
    .footer-cont-copyright-dev {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer-cont-copyright-dev-logo {
        text-transform: uppercase;
        color: #2F2F2F; }
  .footer-cont-contacts {
    width: 37%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-cont-contacts-phone {
      width: 50%; }
    .footer-cont-contacts-adres {
      width: 50%;
      text-align: right; }

.btn-cover {
  font-size: 1em;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #3F3F3F;
  position: relative;
  padding: 21px 78px 17px 48px;
  background-color: #FFD793;
  border: none;
  border-radius: 22px;
  -webkit-box-shadow: 0 2px 4px -1px rgba(34, 34, 34, 0.49);
          box-shadow: 0 2px 4px -1px rgba(34, 34, 34, 0.49); }
  .btn-cover:hover {
    background-color: #ffe0ad;
    color: #3F3F3F; }
    .btn-cover:hover::after {
      opacity: 1; }
  .btn-cover:active {
    background-color: #ffd184; }
  .btn-cover::after {
    content: url(/img/arrow-btn-right.svg);
    position: absolute;
    top: 18px;
    right: 42px;
    color: #3F3F3F;
    opacity: 0.5; }

.v-slider-right-btn {
  font-size: 1.25em;
  font-style: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer; }
  .v-slider-right-btn:hover::after {
    opacity: 1; }
  .v-slider-right-btn::after {
    content: url(/img/arrow-slider-btn-right.svg);
    position: absolute;
    top: -15px;
    right: 40%;
    opacity: 0.4; }

.btn-page {
  font-size: 1em;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #3F3F3F;
  position: relative;
  padding: 21px 78px 17px 48px;
  background-color: #FFD793;
  border: none;
  border-radius: 22px;
  -webkit-box-shadow: 0 2px 4px -1px rgba(34, 34, 34, 0.49);
          box-shadow: 0 2px 4px -1px rgba(34, 34, 34, 0.49);
  display: block; }
  .btn-page:hover {
    color: #3F3F3F;
    background-color: #ffe0ad; }
    .btn-page:hover::after {
      opacity: 1; }
  .btn-page:active {
    background-color: #ffce7a; }
  .btn-page::after {
    content: url(/img/arrow-btn-right.svg);
    position: absolute;
    top: 18px;
    right: 42px;
    color: #3F3F3F;
    opacity: 0.5; }

/* 2_desctop-от 1280 до 1600 */
@media (max-width: 1600px) {
  .container-rows {
    width: 80%; } }
@media (max-width: 1600px) {
  .cover-cont-wrap {
    width: 40%; } }
/* 3_desctop-от 1024 до 1280 */
@media (max-width: 1280px) {
  .container-rows {
    width: 89.53%; } }
@media (max-width: 1280px) {
  .text-name-card {
    font-size: 1.6875em; }

  .text-value-card {
    font-size: 1.4687em; }

  .text-text-card {
    font-size: 0.7812em; } }
@media (max-width: 1280px) {
  .cover {
    background-image: url(/img/cover-1280.jpg); }

  .slider-right {
    display: none; }

  .cover-cont-wrap {
    width: 47%; }

  .blockwhite-cont {
    padding: 70px 20px 80px 20px; } }
/* 4_tablet-от 768 до 1024 */
@media (max-width: 1024px) {
  footer {
    height: 230px;
    margin-top: -230px;
    padding-top: 25px; }

  .clr {
    height: 230px; }

  .container-rows {
    width: 93.94%; } }
@media (max-width: 1024px) {
  h2 {
    font-size: 2em;
    margin-bottom: 38px; }

  .text-name-card {
    font-size: 1.875em; }

  .text-value-card {
    font-size: 1.625em; }

  .text-text-card {
    font-size: 0.875em; } }
@media (max-width: 1024px) {
  body {
    background-size: 20%; }

  .cover-slider {
    display: none; }

  .blockwhite-cont-cols-col {
    width: 48%; }

  .products-cols {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    .products-cols-col {
      width: 33%; }

  .progress-numbers {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .progress-numbers-item {
      width: 24%; }

  .locations {
    width: 92%; }

  .shops {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .shops-item {
      width: 49%; } }
/* 5_tablet-от 480 до 768*/
@media (max-width: 768px) {
  footer {
    height: 305px;
    margin-top: -305px;
    padding-top: 35px; }

  .clr {
    height: 305px; }

  .container-rows {
    width: 92.7%; }

  .padding-block-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
@media (max-width: 768px) {
  .menu-link {
    font-weight: bold;
    color: #242424; }

  .cover-cont-wrap-p {
    text-align: center; } }
@media (max-width: 768px) {
  .top-header {
    min-height: 60px; }
    .top-header-content {
      min-height: 60px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .top-header-content-logocont {
        display: none; }

  .mobile-logo {
    display: block; }

  .top-header-content-title {
    display: block;
    margin: 0 auto;
    padding-left: 34px; }

  .menu-list {
    width: 100%;
    z-index: 9;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0px;
    top: 60px;
    background-color: #f8f9f9; }

  .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .menu-item a {
    padding: 23px 40px;
    margin-top: 0;
    font-weight: 600;
    color: #235443; }
    .menu-item a:hover {
      color: #235443; }
    .menu-item a:after {
      top: 56px;
      background: #151515; }

  .menu-list > li:first-child > a {
    padding-top: 40px; }

  .menu-list > li:last-child > a {
    padding-bottom: 40px; }

  .sub-menu {
    width: 90%;
    padding-top: 0 !important;
    display: block;
    position: relative;
    top: 0;
    left: 0; }

  .sub-menu > li {
    padding: 0 0 0 0;
    background-color: #a8b9b3a3; }

  .main-header-menu-label {
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 0px;
    top: 8px;
    background-image: url(/img/menu.svg);
    background-size: 100%;
    background-position: 0 0; }

  .main-header-menu-input[type="checkbox"]:checked ~ .main-header-menu-wrp ul {
    height: auto;
    visibility: visible; }

  /* end */ }
@media (max-width: 768px) {
  body {
    background-size: 22%; }

  main {
    padding-top: 0; }

  .whiteblock {
    background-size: 28%, 32%; }

  .whiteblock-map {
    background-size: 28%, 50%, 5%; }

  .cover {
    display: none; }
    .cover-cont {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .cover-cont-wrap {
        width: 100%;
        height: 74%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }

  .cover-mobile {
    display: block; }
    .cover-mobile-img {
      width: 100%;
      height: 40vh;
      margin-bottom: 20px;
      background-image: url(/img/cover-mobile.jpg);
      background-size: cover;
      background-position: 50% 50%; }
    .cover-mobile-content {
      padding: 20px 20px 20px 20px;
      outline: 1px solid white;
      border-radius: 30px; }

  .greenblock-cover-mobile {
    padding: 10px 10px 10px 10px !important; }

  .blockwhite-cont {
    background-size: 23%, 23%; }

  .products-cols-col {
    width: 49%; }

  .progress-numbers {
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .progress-numbers-item {
      width: 40%; }
  .progress-photo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .progress-photo-img {
      width: 100%; }
      .progress-photo-img:nth-child(1) {
        display: none; }

  .benefits-cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .benefits-cols-leftcol {
      width: 100%; }
      .benefits-cols-leftcol p {
        text-align: left; }
      .benefits-cols-leftcol-row-title:after {
        display: none; }
      .benefits-cols-leftcol-row-title:before {
        content: url(/img/leaves-title.svg);
        margin-right: 12px; }
    .benefits-cols-rightcol {
      width: 100%; }
  .benefits-quote p {
    width: 100%; }
  .benefits-docs {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    .benefits-docs img {
      max-width: 32%; }
      .benefits-docs img:nth-child(n+4) {
        display: none; }

  .shops {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .shops-item {
      width: 65%; }

  .locations {
    width: 100%; } }
@media (max-width: 768px) {
  .product-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .product-cont-slider {
      width: 100%; }
    .product-cont-text {
      width: 100%; }
      .product-cont-text-h2 {
        margin-bottom: 30px;
        text-align: center; }
      .product-cont-text-cols {
        width: 80%;
        margin: 0 auto; }

  .slider-product {
    width: 100%; }

  .btn-left-slider-hide {
    display: none; }

  .btn-right-slider-hide {
    display: none; }

  .wiki-cont-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .wiki-cont-text p {
      width: 100%; }

  .shops-hide {
    display: none; }

  .work-slider-hide {
    display: none; } }
@media (max-width: 768px) {
  .news-cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    .news-cols-col {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      background-position: right 107%; }
      .news-cols-col-img {
        width: 100%;
        height: 200px; }
        .news-cols-col-img img {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px; }
      .news-cols-col-grey1 {
        width: 100%; } }
@media (max-width: 480px) {
  .news-cols-col {
    background-size: 26%;
    background-position: right 104%; } }
@media (max-width: 360px) {
  .news-cols-col {
    ackground-size: 43%;
    background-position: right 105%; } }
@media (max-width: 768px) {
  .footer-logocont {
    width: 100px; }

  .footer-cont-copyright {
    width: 40%; }
    .footer-cont-copyright-dev {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .footer-cont-copyright-dev:nth-child(2) {
        margin-bottom: 0; }
  .footer-cont-contacts {
    width: 59%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer-cont-contacts-phone {
      width: 40%; }
    .footer-cont-contacts-adres {
      width: 52%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
/* 6_mob-от 360 до 480*/
@media (max-width: 480px) {
  footer {
    height: 340px;
    margin-top: -340px;
    padding-top: 35px; }

  .clr {
    height: 340px; }

  .container-rows {
    width: 88.33%; } }
@media (max-width: 480px) {
  h1 {
    font-size: 4.2em; }

  .cover-cont-wrap-h1 span:nth-child(4) {
    padding-left: 129px; }

  .cover-cont-wrap-p {
    font-size: 1.2em; }

  .typ-numbers-statistic {
    font-size: 3.8125em; } }
@media (max-width: 480px) {
  body {
    background-size: 43%; }

  .whiteblock {
    padding-left: 20px;
    padding-right: 20px; }

  .whiteblock-map {
    padding-left: 20px;
    padding-right: 20px;
    background-size: 28%, 73%, 5%;
    background-position: 10px 10px, 88% 97%, 90% 100%; }

  .greenblock {
    padding-left: 20px;
    padding-right: 20px; }

  .cover-cont {
    width: 100%; }
    .cover-cont-wrap {
      width: 100%;
      height: 74%; }

  .cover-mobile-content {
    padding: 20px 10px 20px 10px; }

  .blockwhite-cont {
    background-size: 37%, 37%; }
    .blockwhite-cont-cols {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .blockwhite-cont-cols-col {
        width: 98%; }

  .products-cols-col {
    width: 100%; }

  .progress-numbers {
    -webkit-column-gap: 20px;
            column-gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .progress-numbers-item {
      width: 40%; }
      .progress-numbers-item-bg {
        width: 111px;
        height: 60px;
        margin-bottom: 7px; }
        .progress-numbers-item-bg-img {
          width: 111px;
          height: 60px;
          background-size: 36%; }
      .progress-numbers-item-statistic {
        right: 42px; }

  .shops-item {
    width: 100%; } }
@media (max-width: 480px) {
  .product-cont-text-cols {
    width: 100%; }
    .product-cont-text-cols-col {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .product-cont-text-cols-col p:nth-child(1) {
        width: 30%;
        font-weight: bold; }
      .product-cont-text-cols-col p:nth-child(2) {
        width: 66%; }

  .btn-slider-left {
    margin-left: 0; }

  .btn-slider-right {
    margin-right: 0; } }
@media (max-width: 480px) {
  .footer-cont {
    height: 265px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
    .footer-cont-copyright {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer-cont-copyright-dev {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; }
        .footer-cont-copyright-dev p {
          text-align: right; }
    .footer-cont-contacts {
      width: 100%; }
      .footer-cont-contacts-adres {
        width: 53%; } }
@media (max-width: 480px) {
  .btn-page {
    padding: 21px 20% 17px 10%; }
    .btn-page::after {
      right: 10%; }

  .locations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .locations-areas {
      width: 100%; } }
/* 7_mob-до 360*/
@media (max-width: 360px) {
  footer {
    height: 468px;
    margin-top: -468px;
    padding-top: 105px; }

  .clr {
    height: 468px; }

  .container-rows {
    width: 89.44%; } }
@media (max-width: 360px) {
  h1 {
    font-size: 2.8em; }

  .cover-cont-wrap-p {
    font-size: 1em; }

  .footer-text {
    margin-bottom: 0; } }
@media (max-width: 360px) {
  .top-header {
    min-height: 60px; }

  .menu-item a {
    padding: 18px 40px; } }
@media (max-width: 360px) {
  .cover-cont {
    width: 100%; }
    .cover-cont-wrap {
      width: 100%;
      height: 74%; }

  .greenblock-bgimg-img1 {
    width: 147px;
    height: 147px;
    background-size: 80%; }
  .greenblock-bgimg-img2 {
    width: 230px;
    height: 165px;
    background-size: 65%; }

  .progress-numbers-item {
    width: 60%; } }
@media (max-width: 360px) {
  .footer-cont-copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-cont-copyright-dev {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .footer-cont-copyright-text p {
      margin-bottom: 10px;
      text-align: center; }
  .footer-cont-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer-cont-contacts-phone {
      width: 100%;
      margin-bottom: 10px;
      text-align: center; }
    .footer-cont-contacts-adres {
      width: 100%;
      margin-bottom: 10px;
      text-align: center; } }
