@media (max-width: 480px) {
  body{
    background-size: 43%;
  }

  .whiteblock{
    padding-left: 20px;
    padding-right: 20px;
  }

  .whiteblock-map{
    padding-left: 20px;
    padding-right: 20px;
    background-size: 28%, 73%, 5%;
    background-position: 10px 10px, 88% 97%, 90% 100%;
  }

  .greenblock{
    padding-left: 20px;
    padding-right: 20px;
  }

  .cover{
    &-cont { 
        width: 100%;
        &-wrap{
            width: 100%;
            height: 74%;
        }
      }
  }

  .blockwhite-cont{
    background-size: 37%, 37%;
    &-cols{
      flex-direction: column;
      align-items: center;
      &-col{
        width: 98%;
      }
    }
  }

    // 1
    .products{
      &-cols{
      &-col{
          width: 100%
      }
      }
    }

    // 2
    .progress{
      &-numbers{
      column-gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
        &-item{
            width: 40%;
            &-bg{
              width: 111px;
              height: 60px;
              margin-bottom: 7px;
              &-img{
                width: 111px;
                height: 60px;
                background-size: 36%;
              }
            }
            &-statistic{
              right: 42px;
            }
        }
      }
    }

}