@media (max-width: 480px) {
  body{
    background-size: 43%;
  }

  .cover{
    &-cont { 
        width: 100%;
        &-wrap{
            width: 100%;
            height: 74%;
        }
      }
  }

  .blockwhite-cont{
    background-size: 37%, 37%;
    &-cols{
      flex-direction: column;
      align-items: center;
      &-col{
        width: 98%;
      }
    }
  }
}