$text-main: #1D1D1D;
$text2: #2d2d2d;
$text-grey: #636363;
$btn: #850E1C;

$links: #004fa3;;
$link-menu-hover: #B90A1F;
$top-menu-link: #494949;
$bg-green: #99BFA1;
$bg-white: #ffffff;
$card-grey:  #F7F7F7;
$text-green: #609F6D;

$h2-margin-bottomn: 40px;
$section-margin-bottomn: 55px;

$border-sidemenu: 1px solid rgba(0, 0, 0, 0.148);
$border-accordeon: 1px solid rgba(0, 0, 0, 0.5);
$box-shadow-menu: 0 2px 4px -1px rgba(34, 34, 34, 0.49);
$box-shadow-container: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
$box-shadow-btn: 0 2px 4px -1px rgba(34, 34, 34, 0.49);

$text1: #171717;
$text2: #2d2d2d;
$bg-light: #fff;
$bg-light-grey: #C4C4C4;
$bg-dark-grey: #828282;
$maincolor: #A873EC;
// изменяем переменные цвета для медиазапросов здесь, в медиазапросе с темже именем не работает переопределение
$maincolor1600: #3F8CD2;
$maincolor1280: #57CACA;
$maincolor1024: #66B05A;
$maincolor768: #FFCF53;
$maincolor926-480: #F6943A;
$maincolor640-360: #FF7D7D;

$box-shadow-container: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);

// переменные для ГМЗ
$main-color-green: #62887A;
$main-color-bg: #FFFBF6;
$btn-text: #3F3F3F;

$text-color-green: #378E6f;
$text-color-mebu-sub-link: #235443;
$text-color-white: #ffffff;
$text-color-dark1: #151515;
$text-color-grey: #8A8A8A;

$product-name-card: #378E6f;
$product-text-card: #86A2A3;
$product-link-card: #86A2A3;
$product-card-color: #f2f2f2;
$btn-page: #FFD793;
$btn-text: #3F3F3F;

$text-1: #2F2F2F;
$text-menu-mobile: #242424;

